<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta name="google-site-verification" content="XJAAIJa9rDViw4-T4rGQDpCfMeqt1qWyQmHYRH2EVzY" />
      <meta name="msvalidate.01" content="E98FA2D2855062CF7AF2A9325DA7B9F9" />      
      <link rel="shortcut icon" href="http://www.gravatar.com/avatar/b6edd6d4a4d6c23f7377fdfeed73e348.png">
      <title>John Ryding | <%= @title %></title>
      <meta name="keywords" content="john ryding, john linus ryding, john, linus, ryding, programmer, programming, software engineer, software developer, developer, engineer, virginia tech, how-to, how to, guide, articles, design, graphic design, typography, linux, htpc, technology, javascript, ruby, web development, web developer, cloud, devops<%= @description %>"/>
      <meta name="description" content="<%= @description %>">
        
      <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
      <link href='css/common.css' rel='stylesheet' type='text/css'>
      <% unless ( defined?(text) ).nil? %>
      <link href='css/markup_content.css' rel='stylesheet' type='text/css'>
      <% else %>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
      <link href='css/projects.css' rel='stylesheet' type='text/css'>
      <% end %>
      <!--[if lt IE 9]>
      <link href='css/ie.css' rel='stylesheet' type='text/css'>
      <script src="js/html5.js"></script>
      <![endif]-->
    </head>
    <body>
      <div id="wrap">
      
        <div class="left-col">
          <div id="site-title">
            <a href="/" rel="home">
              <h1 class="color-black">John Ryding</h1>
            </a>
          </div>
        
          <nav id="global-nav">
            <ul id="global-nav-list">
              <li class="global-nav-item">
                <a href="/" rel="home">Home</a>
              </li>
              <li class="global-nav-item">
                <a href="/about" rel="author">About</a>
              </li>
              <li class="global-nav-item">
                <a href="http://blog.johnryding.com">Blog</a>
              </li>
              <li class="global-nav-item">
                <a href="/projects">Projects</a>
              </li>
              <li class="global-nav-item">
                <a href="/setup">Setup</a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- End Nav -->
      
        <div id="page-body" class="right-col">
          <% unless ( defined?(text) ).nil? %>
            <%= text %>
          <% else %>
            <%= yield %>
          <% end %>
        </div>
        <!-- End Main Content -->
      
        <footer id="copyright" class="color-gray">&copy; 2011 John Ryding</footer>
        <!-- End Footer -->
        
        <!-- Google Analytics -->
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-19806138-1']);
          _gaq.push(['_setDomainName', '.johnryding.com']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
      </div>
    <body>
</html>